*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


.title_part {
  float: left;
  width: 15%;
  padding: 35px 10px;
  text-align: center;
}
.title_part h1 {
  text-transform: uppercase;
}
.text_part {
  float: left;
  width: 75%;
  padding-top: 46px;
}
.logo_part {
  float: left;
  width: 10%;
}
.logo_section {
  overflow: hidden;
}
.logo_part img {
  width: 100%;
}
.icon_section {
  overflow: hidden;
  background-color: #ffc000;
}
.single_icon {
  float: left;
  width: 20%;
  text-align: center;
  padding: 40px 0;
}
.details_section {
  clear: both;
  margin-top: 20px;
}
.single {
  float: left;
  width: 20%;
  padding: 10px;
  text-align: center;
  /*! margin: 10px; */
}
.single h2 {
  text-transform: uppercase;
  margin-bottom: 20px;
}


.single_icon i {
  color: #fff;
  font-size: 40px;
}